@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

:root {
  --ge-white-subtle: #D5D5D5;
  --ge-light: #A2A5AD;
  --ge-light-subtle: #84868C;
  --ge-green: #00E46A;
  --ge-green-subtle: #018940;
  --ge-green-dark: #005f2c;
  --ge-gray: #929AA6;
  --ge-gray-subtle: #364040;
  --ge-gray-subtle2: #2F3233;
  --ge-gray-subtle3: #21252E;
  --ge-gray-dark: #14191A;
  --ge-gray-dark2: #161920;
  --ge-gray-dark3: #181C25;
}

body {
  font-family: Titillium Web, 'Courier New', Courier, monospace;
  color: var(--ge-white-subtle);
  -webkit-font-smoothing: antialiased;
  background-color: var(--ge-gray-dark2);
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  line-height: 1;
}

a:link, a:visited {
  color: var(--ge-white-subtle);
}
a:hover, a:focus {
  color: var(--ge-green);
}

h1 {
  font-size: 2rem;
}

.wrap {
  width: 1200px;
  /* border: 1px solid royalblue;*/
}

footer {
  margin-top: 5rem;
  background-color: var(--ge-gray-subtle);
}

/*=============================================================================== 
  Navigation
==================================================================================*/
.navigation-link:link,
.navigation-link:visited
{
  font-size: 1.1rem;
  color: var(--ge-white-subtle);
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--ge-green);
  /* border-bottom: 5px solid #00E46A;*/
}
.navigation-link:hover::after,
.navigation-link:focus::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  height: 4px;
  width: 100%;
  background-color: var(--ge-green);
}


.navigation-active {
  color: var(--ge-green) !important; 
}

.navigation-active::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  height: 4px;
  width: 100%;
  background-color: var(--ge-green);
}

/*=============================================================================== 
  User Menu
==================================================================================*/
.dropdown-menu {
  min-width: max-content;
  color: var(--ge-white-subtle);
}

.dropdown-menu a {
  line-height: 2rem;
}

.dropdown-menu a:link,
.dropdown-menu a:visited {
  color: var(--ge-white-subtle);
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: var(--ge-gray-subtle2);
}

.user-entry a{
  font-size: 1rem;
  line-height: 1;
}

.user {
  position: relative;
}

/* solve the pesudo after overlay on elements*/
.user-avatar > * {
  z-index: 1;
}

.user-avatar:hover::after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0 2rem;
  position: absolute;
  left: -25%;
  background-color: var(--ge-gray-subtle2);
  border-radius: 10px;
}

/*=============================================================================== 
  Search section
==================================================================================*/
.search-section {
  background-color: var(--ge-gray-subtle2);
}

.btn-green {
  height: 2.5rem;
  color: var(--ge-white-subtle);
  background-color: var(--ge-green-subtle);
  font-weight: 600;
  text-shadow: 1px 1px 2px var(--ge-green-dark);
}
.btn-green:hover {
  background-color: var(--ge-green-dark);
}

.custom-dropdown {
  appearance: none;
  background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23018940' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  background-color: var(--ge-gray-dark);
  color: var(--ge-white-subtle);
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: 1rem; 
  padding-right: 3rem; 
  border: 0;
  margin: 0;
  border-radius: 7px;
  position: relative;
}

.custom-dropdown-light {
  
  appearance: none;
  background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23018940' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  background-color: var(--ge-gray-subtle2);
  color: var(--ge-white-subtle);
  padding-top: .2rem;
  padding-bottom: .3rem;
  padding-left: 1rem; 
  padding-right: 2.5rem; 
  border: 0;
  margin: 0;
  border-radius: 7px;
  position: relative;
}

.custom-dropdown:focus,
.custom-dropdown-light:focus {
  outline: 2px solid var(--ge-green-subtle);
}

/*=============================================================================== 
  Search input
==================================================================================*/
.search-input-main {
  background-color: var(--ge-gray-dark);
  width: 20rem;
  height: 2.2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 0 1rem;
  padding-left: 1rem;
  color: var(--ge-white-subtle);
  border: none;
  border-radius: 7px;
  outline: none;
}

.search-input {
  position: relative;
  
}

.search-input-main:focus {
    outline: 2px solid var(--ge-green-subtle);
}

.btn-search-main {
  height: 1.3rem;
  width: 1.3rem;
  background-image: url("images/icon-search.png");
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: .1rem;
  right: 1.5rem;
  border: none;
}

.btn-search-main:hover {
  filter: brightness(75%);
}

.btn-search-main:focus {
  filter: brightness(50%);
}

/*=============================================================================== 
  User Account page
==================================================================================*/
.user-form,
.user-account-form {
  margin-top: 3rem;
}

.user-form label {
  display: block;
  font-size: 1.1rem;
}

.user-form input,
.user-account-form input {
  background-color: var(--ge-gray-subtle);
  width: 22rem;
  height: 2.3rem;
  margin-top: .2rem;
  margin-bottom: 1.3rem;
  padding: 0 1rem;
  padding-left: 1rem;
  color: var(--ge-white-subtle);
  font-size: 1.1rem;
  border: none;
  border-radius: 7px;
  outline: none;
}

.user-form input:focus,
.user-account-form input:focus {
  outline: 2px solid var(--ge-green-subtle);
}

.user-account-form label {
  display: inline;
  font-size: 1.1rem;
}

.btn-submit {
  width: 22rem;
  height: 2.8rem;
  margin-top: 2.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
}

/*=============================================================================== 
  Posts List
==================================================================================*/
.post-category-title {
  font-weight: 600;
  color: var(--ge-green);
}

.post-title-line {
  border: none;
  height: 3px;
  color: var(--ge-green);
  background-color: var(--ge-green);
}

.post-top {
  margin-bottom: 2rem;
  height: 17rem;
  position: relative;
  background-image: url("images/placeholder_cover_picture.png");
  background-position: center;
  background-size: cover;
}

.post-top-bar {
  padding-bottom: .5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
}

.post-top-title {
  margin: 0 1rem;
  margin-top: .5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-top-title a {
  line-height: 1.2;
}

.post-top-author {
  margin: 0 1rem;
  margin-top: .5rem;
  font-size: 1rem;
  font-style: italic;
}

.author-text {
  color: var(--ge-green-subtle);
  font-weight: 600;
}

.post-row {
  margin: .7rem 0;
  max-height: 10rem;
  overflow: hidden;
}

.post-left {
  width: 20rem;
  overflow: hidden;
  text-align: center;
}

.post-left .post-thumbnail {
  width: 100%;
}

.post-right {
  overflow: hidden;
}

.post-right .post-category {
  font-weight: 600;
  color: var(--ge-green)
}

.post-right .post-title {
  margin-top: .5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.post-right .post-title a{
  line-height: 1.2;
}

.post-right .post-author {
  margin-top: .5rem;
  font-style: italic;
}

.post-line {
  margin: .5rem 0;
}

/*=============================================================================== 
  Side bar
==================================================================================*/
.category_sidebar {
  padding: 1rem 1rem;
  min-height: 30rem;
  background-color: var(--ge-gray-subtle3);
  font-size: 1.1rem;
  border-radius: 7px;
}

.category_sidebar h2 {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: var(--ge-green);
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--ge-gray-subtle);
}

.category_sidebar ul {
  margin-left: .7rem;
}

.category_sidebar ul li{
  margin-top: .5rem;
}

/*=============================================================================== 
  View page
==================================================================================*/
.view-heading h1{
  font-size: 2.3rem;
  font-weight: bold;
}

.view-heading .heading-author {
  margin-top: 1rem;
}

.view-heading .breadcrumb {
  margin-left: .9rem;
}

.view-heading .breadcrumb ul {
  display: flex;
}

.view-heading .breadcrumb li:nth-child(n+2)::before {
  content: ">";
  margin: 0 .5rem;
  font-weight: bold;
  color: var(--ge-gray);
}

.view-heading .breadcrumb li:last-child a{
  font-weight: 600;
  color: var(--ge-green)
}

.view-heading .heading-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-height: 30rem;
  overflow: hidden;
}

.view-heading .heading-image img {
  width: 100%;
}

.post-content {
  padding: 1rem;
  font-family: 'Inter';
}

.post-content p{
  margin: 1.5rem 0;
  line-height: 1.7;
}

.post-content ul{
  margin: 1.5rem;
  list-style: initial;
}

.post-content li{
  margin: .5rem;
  list-style: initial;
}

.post-content a:link, 
.post-content a:visited {
  color: var(--ge-green);
  text-decoration: underline;
}
.post-content a:hover,
.post-content a:focus {
  color: var(--ge-white-subtle);
  text-decoration: none;
}

/*=============================================================================== 
  Comment
==================================================================================*/
.comment {
  padding: 0 1rem;
  font-size: 1.1rem;
}

.comment h3 {
  font-weight: 600;
}

.comment label {
  display: block;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.comment input[type="text"] {
  background-color: var(--ge-gray-subtle);
  width: 50%;
  height: 2.2rem;
  padding: 0 1rem;
  padding-left: 1rem;
  color: var(--ge-white-subtle);
  border: none;
  border-radius: 7px;
  outline: none;
}

.comment input[type="text"]:focus {
  outline: 2px solid var(--ge-green-subtle);
}

.comment textarea {
  background-color: var(--ge-gray-subtle);
  width: 100%;
  height: 4rem;
  padding: .5rem 1rem;
  padding-left: 1rem;
  color: var(--ge-white-subtle);
  border: none;
  border-radius: 7px;
  outline: none;
}

.comment-list .comment-user-avatar {
  width: 40px;
}

.comment-row {
  display: flex;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--ge-gray-subtle);
}

.comment-reply {
  display: inline-block;
  padding-top: .2rem;
  padding-left: 1.8rem;
  width: 5rem;
  height: 2rem;
  background-image: url("images/icon-reply.png");
  background-repeat: no-repeat;
}

.comment-delete {
  display: inline-block;
  padding-top: .2rem;
  padding-left: 1.8rem;
  width: 5rem;
  height: 2rem;
  background-image: url("images/icon-delete-reply.png");
  background-repeat: no-repeat;
}

.comment-row a{
  font-size: 1rem;
  font-weight: 600;
}

.comment-row a:link, 
.comment-row a:visited {
  color: var(--ge-green-subtle);
}
.comment-row a:hover,
.comment-row a:focus {
  color: var(--ge-white-subtle);
}

.comment-row .comment-left-col {
  width: 4rem;
}

.comment-row .comment-right-col {
  width: 100%;
}

.comment-row .comment-author {
  font-weight: 600;
  color: var(--ge-green)
}

.comment-row .comment-created-date {
  margin-left: 2rem;
  color: var(--ge-light-subtle);
  font-size: 1rem;
}

.comment-row .comment-display {
  margin-top: .5rem;
}

.comment-row .comment-tool {
  margin-top: .5rem;
}

.comment_reply_form {
  padding: 1rem;
  border: 1px solid var(--ge-gray-subtle);
  border-radius: 7px;
}
/*=============================================================================== 
  Admin Center
==================================================================================*/
.admin-sidebar {
  background-color: var(--ge-gray-subtle3);
}

.admin-nav ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size:1.1rem;
}

.admin-nav ul li {
  margin-bottom: 1rem;
}

.admin-nav ul li a {
  display: block;
  padding-left: 1.5rem;
  line-height: 3rem;
}

.admin-nav ul li a:hover {
  background-color: var(--ge-gray-dark2);
}

.admin-list-plane {
  background-color: var(--ge-gray-subtle3);
  min-height: 50vh;
  border-radius: 12px;
}

.admin-table {
  width: 100%;
}

.admin-table thead th {
  background-color: var(--ge-gray-dark3);
  padding: .5rem 0 .5rem 1rem;
  font-weight: 600;
}

.admin-table tbody td {
  padding: .5rem 0 .5rem 1rem;
  border-bottom: 1px solid var(--ge-gray-subtle);
}

.operate-icon {
  margin-right: .5rem;
  vertical-align: middle;
  position: relative;
}

.operate-icon img {
  width: 22px;
  height: 22px
}

.operate-icon:hover::after {
  display: block;
  width: 3rem;
  padding: .2rem .5rem;
  color: var(--ge-white-subtle);
  font-size: .8rem;
  text-align: center;
  position: absolute;
  top: -2rem;
  left: -.8rem;
  background-color: var(--ge-gray-subtle2);
}

.tooltip-view:hover::after {
  content: "View";
}

.tooltip-edit:hover::after {
  content: "Edit";
}

.tooltip-delete:hover::after {
  content: "Delete";
}

.admin-form {
  margin-top: 3rem;
  margin-left: 7rem;
}

.admin-form label {
  display: block;
  font-size: 1.1rem;
}

.admin-form input[type="text"],
.admin-form input[type="password"],
.admin-form input[type="email"]{
  background-color: var(--ge-gray-subtle);
  width: 100%;
  height: 2.3rem;
  margin-top: .2rem;
  margin-bottom: 1.3rem;
  padding: 0 1rem;
  padding-left: 1rem;
  color: var(--ge-white-subtle);
  font-size: 1.1rem;
  border: none;
  border-radius: 7px;
  outline: none;
}

.admin-form input:focus {
  outline: 2px solid var(--ge-green-subtle);
}

.admin-form-file {
  background-color: var(--ge-gray-subtle);
  margin-top: .3rem;
  margin-bottom: 1.3rem;
  width: 20rem;
  border-radius: 7px;
}
.admin-form-file::file-selector-button {
  background-color: white;
  margin-right: 1.2rem;
  padding: 0 1rem;
  height: 2.3rem;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.admin-form-file::file-selector-button:hover {
  background-color: #c2c3c4;
}

.custom-dropdown-admin {
  appearance: none;
  background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23018940' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  background-color: var(--ge-gray-subtle);
  color: var(--ge-white-subtle);
  width: 20rem;
  margin-top: .3rem;
  margin-bottom: 1.3rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-left: 1rem; 
  padding-right: 2.5rem; 
  border: 0;
  border-radius: 7px;
  position: relative;
}

.custom-dropdown-admin:focus {
  outline: 2px solid var(--ge-green-subtle);
}

.field_error::before {
  content: "!";
  margin-right: .6rem;
  font-weight: bold;
}
.field_error {
  display: none;
  color: #ff9900;
  margin-top: -.8rem;
  margin-bottom: 1.3rem;
}

.admin-form-field-plain-text {
  margin-top: .5rem;
  margin-bottom: 1.3rem;
  padding: .5rem 1rem;
  padding-left: 1rem;
  width: 20rem;
  font-size: 1.1rem;
  color: var(--ge-gray);
  border: 1px solid var(--ge-gray-subtle);
  border-radius: 7px;
}